*.d
*.glob
*.vo
Makefile.bak
*.gv
*.pdf
.DS_Store
Makefile.coq
html
*.mli
*.native
gem5.ml
opensparc.ml
_build
*.old
*.vok
*.vos
*.aux
Makefile.coq.conf

# extracted OCaml files
allgraphs.ml
allgraphs2.ml
gem5fixedgraphs.ml
gem5fixedgraphs2.ml
gem5graphs.ml
gem5graphs2.ml
opensparcgraphs.ml
opensparcgraphs2.ml
riscgraphs.ml
riscgraphs2.ml
scprocgraphs.ml
scprocgraphs2.ml